[build]
builder = "dockerfile"
dockerfilePath = "Dockerfile_MicroDataCenter_Api"

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
